/*===================
======= FONTS =======
===================*/

/* Imported from Google Fonts */

/* Kumbh Sans */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*===============
=== VARIABLES ===
===============*/

* {
    /* Primary colors */
    --dark_cyan: hsl(185, 75%, 39%);
    --darl_blue: hsl(229, 23%, 23%);
    --grayish_blue: hsl(227, 10%, 46%);

    /* Neutral colors */
    --dark_gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);

    /* Fonts */
    --kumbh: 'Kumbh Sans', sans-serif;
}

